
body {
    background-color: #ffff;
    color: #ffffff;
    /* Cria um padrão de pontinhos sutis */
    background-image: radial-gradient(#222222 1px, transparent 0);
    background-size: 20px 20px;
}